{% include "boiler.html" %}

{% block title %} 
    <title>Landing Dashboard</title>
{% endblock %}

{% block content %}

<div class="page">

    <h1 class="text-3xl font-bold underline">
        Welcome to the landing dashboard!
    </h1>
    
    <div class="server-ready-states">
        <ul>
            <li>Webserver State (nginx): <span class="text-lime-500">Active</span></li>
            <li>Docker State: <span class="text-lime-500">Active</span></li>
            <li>Jenkins State (relies on docker): <span class="text-lime-500">Active</span></li>
        </ul>
    </div>

    <div class="tiles grid grid-cols-4 grid-rows-* gap-4 p-28 justify-items-center">
        <div class="single-tile max-w-40">
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center">
                <i class="fa-solid fa-server"></i>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">System Information</h5>
            </a>
        </div>
        <div class="single-tile max-w-40">
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center">
                <i class="fa-solid fa-server"></i>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">System Information</h5>
            </a>
        </div>
        <div class="single-tile max-w-40">
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center">
                <i class="fa-solid fa-server"></i>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">System Information</h5>
            </a>
        </div>

        <div class="single-tile max-w-40">
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center">
                <i class="fa-solid fa-server"></i>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">System Information</h5>
            </a>
        </div>

        <div class="single-tile max-w-40">
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center">
                <i class="fa-solid fa-server"></i>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">System Information</h5>
            </a>
        </div>

        <div class="single-tile max-w-40">
            <a href="#" class="block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col justify-center items-center">
                <i class="fa-solid fa-server"></i>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-center">System Information</h5>
            </a>
        </div>
    </div>

</div>

{% endblock %}
